@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Fira Sans", serif; */

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Fira Sans", serif;
}
header,
main {
  background: rgb(245, 245, 245);
}
.navbar {
  display: flex;
}
.head-BD h1 {
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
  position: static;
  width: 222px;
  height: 38px;
  margin: 29.76px 500.64px 29.76px 123.6px;
}
.SignIn-btn button {
  color: rgb(0, 106, 80);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  width: 116px;
  height: 52px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgb(0, 106, 80);
  margin: 23.04px 100.2px 23.04px 452.16px;
  cursor: pointer;
  position: static;
}
.SignIn-btn button:hover {
  background-color: rgb(9, 121, 105);
  color: rgb(229, 229, 229);
}

.banner {
  width: 1302px;
  height: 70vh;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  margin-left: 121px;
  margin-top: 20px;
}
.smallHeading p {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  position: static;
  width: 633px;
  height: 29px;
  margin-left: 61px;
  padding-top: 75px;
}
.content {
  color: rgb(14, 14, 14);
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
  position: static;
  width: 633px;
  height: 201px;
  margin-left: 61px;
  padding-top: 16px;
}
.Explore-btn button {
  box-sizing: border-box;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  position: static;
  width: 275px;
  height: 56px;
  position: static;
  margin-left: 61px;
  margin-top: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border: 0px;
}
.Explore-btn button:hover {
  background-color: #002d62;
  color: aliceblue;
}

.image-container img {
  width: 484px;
  height: 408px;
  float: right;
  padding-top: 20px;
  padding-right: 25px;
}

.pillars,
.vision h4 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 121px;
  padding-top: 72px;
  position: static;
  width: 1302px;
  height: 48px;
}
.pillarBox {
  position: static;
  width: 1440px;
  height: 35vh;
  padding-top: 32px;
  display: flex;
  gap: 25px;
}
.pillar1stBox {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  position: static;
  width: 405px;
  height: 35vh;
  margin-left: 121px;
}
.pillar2ndBox {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  position: static;
  width: 405px;
  height: 35vh;
}
.pillar3rdBox {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  position: static;
  width: 405px;
  height: 35vh;
}
.pillar4thBox {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  position: static;
  width: 405px;
  height: 35vh;
}
.pillar1stBox img {
  width: 70px;
  height: 70px;
  margin-left: 37px;
  padding-top: 25px;
}
.pillar2ndBox img {
  width: 70px;
  height: 70px;
  margin-left: 37px;
  padding-top: 25px;
}
.pillar3rdBox img {
  width: 70px;
  height: 70px;
  margin-left: 37px;
  padding-top: 25px;
}
.pillar4thBox img {
  width: 70px;
  height: 70px;
  margin-left: 37px;
  padding-top: 25px;
}
.pillar1stBox h4,
.pillar2ndBox h4,
.pillar3rdBox h4,
.pillar4thBox h4 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 37px;
  padding-top: 25px;
}

.pillar1stBox p,
.pillar2ndBox p,
.pillar3rdBox p,
.pillar4thBox p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 35px;
  padding-top: 4px;
}
.vision p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 121px;
  padding-top: 21px;
}
.visionBox {
  position: static;
  width: 1460px;
  height: 40vh;
  padding-top: 32px;
  display: flex;
  gap: 35px;
}

.vision1stBox {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
  position: static;
  width: 450px;
  height: 40vh;
  margin-left: 121px;
}
.vision2ndBox {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(198, 228, 214);
  position: static;
  width: 450px;
  height: 40vh;
}
.vision3rdBox {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(247, 235, 207);
  position: static;
  width: 450px;
  height: 40vh;
}
.vision1stBox img,
.vision2ndBox img,
.vision3rdBox img {
  width: 75px;
  height: 75px;
  margin-left: 45px;
  padding-top: 28px;
}
.vision1stBox h4,
.vision2ndBox h4,
.vision3rdBox h4 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 45px;
  padding-top: 25px;
}
.vision1stBox p,
.vision2ndBox p,
.vision3rdBox p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 45px;
  padding-top: 12px;
}
.learnMore1,
.learnMore2,
.learnMore3 {
  padding-top: 25px;
}
.vision1stBox button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  border: 0px;
  background: rgb(84, 144, 245);
  position: static;
  width: 122px;
  height: 41px;
  margin-left: 45px;
  cursor: pointer;
}
.vision1stBox button:hover {
  background-color: #002d62;
  color: aliceblue;
}
.vision2ndBox button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  border: 0px;
  background: rgb(9, 161, 92);
  position: static;
  width: 122px;
  height: 41px;
  margin-left: 45px;
  cursor: pointer;
}
.vision2ndBox button:hover {
  background-color: #355e3b;
  color: aliceblue;
}
.vision3rdBox button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  border: 0px;
  background: rgb(255, 194, 57);
  position: static;
  width: 122px;
  height: 41px;
  margin-left: 45px;
  cursor: pointer;
}
.vision3rdBox button:hover {
  background-color: #e97451;
  color: aliceblue;
}
.speechAdvisor {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  position: static;
  width: 1348px;
  height: 42vh;
  margin-left: 121px;
  margin-top: 32px;
  padding-left: 24px;
  padding-top: 24px;
}
.bgImage {
  background-image: url("images/quote-bg.png");
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-left: 28px;
}
.Yunus {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  position: static;
  width: 1232px;
  height: 24px;
  padding-left: 28px;
  padding-top: 15px;
}
.ChiefAdvisor {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 28px;
  padding-top: 4px;
}
.Opinion {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 121px;
  margin-top: 45px;
}
.OpinionBox {
  border: 0px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  position: static;
  width: 1355px;
  height: 60vh;
  margin-top: 28px;
  margin-left: 121px;
  padding-top: 32px;
}
table {
  border-collapse: collapse;
}
.tableBox {
  margin-left: 32px;
  position: static;
  width: 1290px;
  height: 5vh;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
}
.FirstRow th {
  padding: 25px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.tableBox2 {
  margin-left: 32px;
}

.question1 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 0.1);
  position: static;
  width: 1120px;
  height: 10vh;
  color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  padding: 24px;
}
.Content1 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgba(255, 255, 255, 0.1);
  position: static;
  width: 150px;
  height: 10vh;
}
.Agreement1 {
  margin: 24px;
  padding: 12.5px 6px 12.5px 16.5px;
  box-sizing: border-box;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 4px;
  background: rgb(198, 228, 214);
  cursor: pointer;
}
.forOption {
  color: rgb(14, 14, 14);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
.submit-btn {
  margin-left: 750px;
  margin-top: -58px;
}
.submit-btn button {
  box-sizing: border-box;
  border: 2px solid rgb(14, 14, 14);
  border-radius: 8px;
  background: rgb(198, 228, 214);
  width: 152px;
  height: 44px;
  color: rgb(14, 14, 14);
  font-size: 26px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
.submit-btn button:hover {
  background-color: #36454f;
  color: aliceblue;
}
